<body>
  <section class="container">
    <div class="login-container">
      <div class="circle circle-one"></div>
      <div class="form-container">
        <h1 class="opacity">login</h1>
        <form>
          <div class="form-group">
            <input type="email" id="email" class="form-control" placeholder="Enter your email" [formControl]="emailControl">
            <div *ngIf="emailControl.invalid && emailControl.touched" class="error-message">
              Email is required.
            </div>
          </div>
          <div class="form-group">
            <input type="password" id="password" class="form-control" placeholder="Enter your password" [formControl]="passwordControl">
            <div *ngIf="passwordControl.invalid && passwordControl.touched" class="error-message">
              Password is required.
            </div>
          </div>
        </form>
        <div class="mt-2"><a (click)="onSubmit()">Register</a></div>
        <div class="mt-2">
          <a (click)="forgotPassword()">Forgot Password?</a>
        </div>
        <button (click)="login()" class="btn btn-primary">Login</button>
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
      </div>
      <div class="circle circle-two"></div>
    </div>
    <div class="theme-btn-container"></div>
  </section>
</body>
