<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-2 text-dark text-decoration-none">
          <img src="./assets/images/tunisie_telecom.png" alt="tunisie_telecom" width="100" height="90">
      </a>

      <nav class="d-flex flex-wrap align-items-center justify-content-center">
          <ul class="nav me-2">
              <li class="nav-item">
                  <a class="nav-link link-dark" [routerLink]="['/']" [routerLinkActive]="['link-secondary']">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link link-dark" [routerLink]="['/stagiaire']" [routerLinkActive]="['link-secondary']">Stagiaire</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link link-dark" [routerLink]="['/demandes']" [routerLinkActive]="['link-secondary']">Demandes</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link link-dark" [routerLink]="['/dashboard-admin']" [routerLinkActive]="['link-secondary']">Dashboard</a>
              </li>
          </ul>
      </nav>
  </header>
</div>
